{% extends 'main.html'%}

{% block content%}

<style>
    a{
        color: black;
        text-decoration: none;
    }
    a:active{
        color: darkblue;
    }
    a:hover{
        color: blue;
    }
</style>

<section class="available merriweather py-5">
    <div class="container">
        
        <div class="row">
            <h4 class="card-title  text-center"> Cours islamiques</h4>

            <div class="col-md-6 p-5"> <img src="/static/images/IMG-20240810-WA0020.jpg" alt="" class="img-fluid rounded-start"></div>
            <div class="col-md-6 ">
                
                <ul class="list-group p-3">
                    
                  
                    <li class="list-group-item list-group-item-primary"><a href="http://fr.islamway.net/lessons/source/33/islamhouse?sort=date&pagesize=30&page=1"> Audios</a> </li>
                    <li class="list-group-item list-group-item-secondary"> <a href="http://fr.islamway.net/videos/source/33/islamhouse"> Videos</a></li>
                    <li class="list-group-item list-group-item-success"> <a href="http://fr.islamway.net/books/source/33/islamhouse">Ouvrages</a></li>
                    <li class="list-group-item list-group-item-danger"> <a href="https://t.me/+TSOq0QP-NSfcKJ5J"> Canal Telegram</a></li>
                    
                  </ul>
            </div>
        </div>
        <h4 class="card-title p-3 text-center"> Cours académiques</h4>
        <div class="row ">
            <div class="col-md-6"> <img src="/static/images/IMG-20240810-WA0027.jpg" alt="" class="img-fluid rounded-start"></div>
            <div class="col-md-6 p-3">
                
                <button type="button" class="btn btn-info link-success"> <a href="https://drive.google.com/drive/folders/1C3ji2gDYjS1HLCKl1Vy-NLHcfGQpAu80">4ème</a></button>
    <button type="button" class="btn btn-secondary"> <a href="https://drive.google.com/drive/folders/1C49n0NbNNdWV8l0Hb-1je4QBoSwfjpms">3ème</a> </button>
    <button type="button" class="btn btn-success"> <a href="https://drive.google.com/drive/folders/1C3M96sd_TsI_G_c-lkmoaRLK89u75BAW">2nd</a></button>
    <button type="button" class="btn btn-warning"> <a href="https://drive.google.com/drive/folders/1C1cyQx6nnkJ0SaQ4wUCfIUEjPVBKETQh"> 1ère</a></button>
    <button type="button" class="btn btn-danger "><a href="https://drive.google.com/drive/folders/1C0_5lKz0FobE1xc8QRkNsmMY4q_iEBBR">Terminale </a></button>
    <button type="button" class="btn btn-info link-success"> <a href="https://drive.google.com/drive/folders/1BN51LUO_NhneffH1X7tCr_0NVEdVQ4RY">Tous les cours</a></button>
    
            </div>
        </div>

    </div>
</section>

   



{% endblock%}